{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CVMAKE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'index.css' %}">
        
        
    </head>
    <body>
        <div class="container">
            <div class="text-container">
                <p>Create CV By Clicking</p>
            </div>
            <div class="button-container">
                <a href="newcv/"><button>NEW </button></a>
                <a href="exps/"><button>EXPERIANS </button></a>
                <a href="cvScore/"><button>Cv-Score </button> </a>
            </div>

        </div>
        
        <script src="" async defer></script>
    </body>
</html>